@{
    ViewData["Title"] = "Parâmetros";
}

<div class="text-center">
    <h1 class="display-4">Parâmetros</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>